#search-wrapper {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
input {
  padding: 12px;
  background-image: none;
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--tertiary-color);
  color: var(--tertiary-color);
  letter-spacing: 1px;
  font-size: 17px;
  text-transform: capitalize;
  &:focus {
    outline: none;
  }
  &:visited {
    outline: none;
    background: transparent;
  }
  &:active {
    outline: none;
    background: transparent;
  }
  &:valid {
    outline: none;
    background: transparent;
  }
  &:-internal-autofill-selected {
    background-color: transparent !important;
  }
}
