<!-- 
    ability to create lists of movies
    sort the list by category
    add a movie to the list
    remove a movie from the list
    search for a movie by title
    display the list of movies
    display the details of a movie
    display the list of movies by category
-->
<div id="container">
  <section>
    <h2>Main content</h2>

    <div>
      <h3>Favourites</h3>
      @if(favourites.length > 0){
      <div id="favourites-section">
        @for(item of favourites; track $index){
        <div class="card">
          <h3>{{ item.Title }}</h3>
          <p>{{ item.Year }}</p>
          <p>{{ item.Genre }}</p>
          <!-- <button (click)="removeFavourite(item)">Remove</button> -->
        </div>
        }
      </div>
      } @else {
      <p>No favourites yet</p>
      }
    </div>
  </section>
  <aside>
    <div>
      <form #listForm="ngForm" (ngSubmit)="createList(searchText, listForm)">
        <app-search
          (searchText)="getSearchText($event)"
          [placeholderText]="'enter list title'"
        ></app-search>
        <button [disabled]="listForm.invalid" type="submit">
          Create New List
        </button>
      </form>
    </div>
    @if(list.length > 0){
    <div class="card">
      <h3>My Lists</h3>
      <app-my-list [items]="list"></app-my-list>
    </div>
    }
  </aside>
</div>
