<div id="wrapper">
  <!-- <header>{{ title }} app</header> -->
  <main class="main">
    <div>
      <ul>
        <li>
          <a
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            ariaCurrentWhenActive="page"
            >Home Page</a
          >
        </li>
        <li>
          <a
            routerLink="/movies"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            ariaCurrentWhenActive="page"
            >Movie Page</a
          >
        </li>
        <li>
          <a
            routerLink="/lists"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            ariaCurrentWhenActive="page"
            >Lists Page</a
          >
        </li>
      </ul>
    </div>
    <router-outlet />
  </main>
  <!-- <footer>footer</footer> -->
</div>
