<p>Id: {{ itemId }}</p>
<button (click)="goBack()">back</button>
<section class="bg-white dark:bg-gray-900 mb-8">
  <div
    class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 grid lg:grid-cols-2 gap-8 lg:gap-16"
  >
    <div class="flex flex-col justify-center">
      <h1
        class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
      >
        {{ (collection$ | async)?.title }}
      </h1>
      <p
        class="mb-8 text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400"
      >
        {{ (collection$ | async)?.description }}
      </p>
      <div class="flex flex-col space-y-4 sm:flex-row sm:space-y-0">
        <a
          href="#"
          class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900"
        >
          Delete Collection
          <svg
            class="w-3.5 h-3.5 ms-2 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9"
            />
          </svg>
        </a>
        <a
          href="#"
          class="py-3 px-5 sm:ms-4 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
        >
          Edit Collection
        </a>
      </div>
    </div>
  </div>
</section>

<div>
  <p class="text-gray-500 dark:text-gray-400 mb-2">
    Your collection contains the following items:
  </p>
  <ul class="space-y-4 mb-4">
    @for(item of (collection$ | async).list; track $index) {
    <li>
      <a href="">
        <label
          for="job-1"
          class="inline-flex items-center justify-between w-full p-5 text-gray-900 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-500 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 dark:peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-900 hover:bg-gray-100 dark:text-white dark:bg-gray-600 dark:hover:bg-gray-500"
        >
          <div class="block">
            <div class="w-full text-lg font-semibold">{{ item.Title }}</div>
            <div class="w-full text-gray-500 dark:text-gray-400">
              {{ item.Type }}
            </div>
          </div>
          <svg
            class="w-4 h-4 ms-3 rtl:rotate-180 text-gray-500 dark:text-gray-400"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9"
            />
          </svg>
        </label>
      </a>
    </li>
    }
  </ul>
</div>
