p {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  border-bottom: 1px solid var(--alternate-color);
  &:last-child {
    border-bottom: none;
  }
  a {
    color: var(--alternate-color);
    font-style: italic;
    text-decoration: none;
    &.active {
      text-decoration: underline;
    }
  }
}
