/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font: 15px/24px "Lato", Arial, sans-serif;
  letter-spacing: 1px;
}
app-root {
  height: 100%;
}

* {
  box-sizing: border-box;
}
h3 {
  font-size: 24px;
  letter-spacing: 2px;
  color: var(--primary-color);
  margin-top: 0;
  text-transform: capitalize;
}

:root {
  --primary-color: rgb(30, 38, 48);
  --secondary-color: rgb(75, 41, 164);
  --tertiary-color: rgb(255, 255, 255);
  --alternate-color: rgb(158, 158, 167);
  --disabled-color: rgba(51, 51, 51, 0.7);
  --success-color: #28a745;
  --info-color: #17a2b8;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
}

button {
  cursor: pointer;
  border: none;
  color: var(--tertiary-color);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  background-color: var(--secondary-color);
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 20px;
  text-transform: uppercase;
  &:disabled {
    background-color: var(--disabled-color);
    cursor: not-allowed;
  }
  &.close {
    padding: 3px 6px;
    color: #fff;
    background-color: var(--danger-color);
    font-weight: bold;
    font-size: 13px;
  }
}

.card {
  background-color: var(--light-color);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
}
