/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font: 15px/24px "Lato", Arial, sans-serif;
  letter-spacing: 1px;
}
app-root {
  height: 100%;
}

:root {
  --primary-color: #007bff;
  --secondary-color: #333333;
  --success-color: #28a745;
  --info-color: #17a2b8;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
}

button {
  cursor: pointer;
  border: none;
  background-color: var(--secondary-color);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  &:disabled {
    background-color: rgba(51, 51, 51, 0.7);
    cursor: not-allowed;
  }
  &.close {
    padding: 3px 6px;
    color: #fff;
    background-color: var(--danger-color);
    font-weight: bold;
    font-size: 13px;
  }
}

.input {
  border: 0;
  padding: 7px 0;
  border-bottom: 1px solid #ccc;
  font: 15px/24px "Lato", Arial, sans-serif;
  letter-spacing: 1px;
  color: #333;
  width: 100%;
  box-sizing: border-box;

  &::placeholder {
    color: #ccc;
    text-transform: uppercase;
  }
  & ~ .focus-border {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: var(--secondary-color);
    transition: 0.4s;
  }
  &:focus {
    outline: none;
  }

  &:focus ~ .focus-border {
    width: 100%;
    transition: 0.4s;
    left: 0;
  }
}
