<dialog>
  <header>
    <h2>Add to List</h2>
    <button (click)="closeDialog()">X</button>
  </header>
  <fieldset>
    <legend>Add to List</legend>
    @for(list of myLists; track $index) {
    <div>
      <input
        type="checkbox"
        [id]="list.name + $index"
        [name]="list.name + $index"
        [value]="list.id"
        (change)="setSelectedItems($event)"
      />
      <label [for]="list.name + $index">{{ list.name }}</label>
    </div>
    }
  </fieldset>
  <div>
    <button (click)="addItemToList()">Add Item(s)</button>
  </div>
</dialog>
