<dialog>
  <header>
    <button (click)="closeDialog()">X</button>
  </header>
  <fieldset>
    <legend><span>Add to List</span></legend>
    @for(list of myLists; track $index) {
    <div>
      <label [for]="list.name + $index" class="container-checkbox">
        {{ list.name }}
        <input
          type="checkbox"
          [id]="list.name + $index"
          [name]="list.name + $index"
          [value]="list.id"
          (change)="setSelectedItems($event)" />
        <span class="checkmark"></span
      ></label>
    </div>
    }
  </fieldset>
  <div>
    <button (click)="addItemToList()">Add Item(s)</button>
  </div>
</dialog>
