<!-- <div id="search-wrapper">
  <input
    type="search"
    name="movie-search"
    id="movie-search"
    class="input"
    placeholder="search for movie title"
    #searchBox
    (change)="searchMovies(searchBox.value)"
  />
  <span class="focus-border"></span>
</div> -->

@if(movie) {
<div id="movie-details">
  <div>
    <h3>{{ movie.Title }}</h3>
    <img [src]="movie.Poster" [alt]="movie.Title + ' Movie Poster'" />
    <div>
      <button (click)="addToList(movie)">add to my list</button>
    </div>
  </div>
  <div>
    <p>{{ movie.Plot }}</p>
    <p>Released: {{ movie.Released }}</p>
    <p>Genre: {{ movie.Genre }}</p>
    <p>Rated: {{ movie.Rated }}</p>
    <p>Director: {{ movie.Director }}</p>
    <p>Actors: {{ movie.Actors }}</p>
    <p>Runtime: {{ movie.Runtime }}</p>
    <p>Language: {{ movie.Language }}</p>
    <p>Country: {{ movie.Country }}</p>
    <p>Awards: {{ movie.Awards }}</p>
    <p>Box Office: {{ movie.BoxOffice }}</p>
    <p>IMDB Rating: {{ movie.imdbRating }}</p>
  </div>
</div>
} @else {
<div>
  <p>No movie found</p>
</div>
}
