@if(movie) {
<div id="movie-details">
  <figure>
    <div
      [style]="'background-image: url(' + movie.Poster + ')'"
      id="movie-poster"
    ></div>
    <figcaption>
      <div>
        <button (click)="addToList(movie)">
          <span>add to my list</span>
        </button>
      </div>
      <h4>{{ movie.Title }}</h4>
      <p>{{ movie.Year }}</p>
      <p>{{ movie.Rated }}</p>
      <p>{{ movie.Runtime }}</p>
      <p>{{ movie.Genre }}</p>
      <p>{{ movie.Director }}</p>
      <p>{{ movie.Actors }}</p>
      <p>{{ movie.Language }}</p>
      <p>{{ movie.Country }}</p>
      <p>{{ movie.Awards }}</p>
      <p>{{ movie.BoxOffice }}</p>
      <p>{{ movie.imdbRating }}</p>
    </figcaption>
  </figure>
</div>
} @else {
<div>
  <p>No movie found</p>
</div>
}
